./*ARTIST/TRACK*/-entry{
    margin: 180px 50px 0px 50px;
    background: url('https://i.imgur.com/pSxi1J1.jpg');
    background-size: cover;
    padding:10px 10px 25px 10px;
    border: 2x solid rgb(219, 163, 89);
    border-radius: 3px;
}

./*ARTIST/TRACK*/-flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px 0px 40px;
    text-decoration: none;
    font-weight: 600;
    color: black;
}

./*ARTIST/TRACK*/-date{
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    color: rgba(34, 32, 33, .9);
    background-color: rgba(255,255,240, .3);
    border: solid 1px rgba(34, 32, 33, .8);
    border-radius: 3px;
    padding: 0px 15px 0px 15px;
}

./*ARTIST/TRACK*/-player{
    display: inline-flex;
    max-height: 200px;
}

./*ARTIST/TRACK*/-genre{
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    color: rgba(34, 32, 33, .9);
    background-color: rgba(255,255,240, .3);
    border: solid 1px rgba(34, 32, 33, .8);
    border-radius: 3px;
    padding: 0px 10px 0px 10x;
}
./*ARTIST*/-link-container{
    text-decoration: none;
    font-weight: 400;
    font-size: 25px;
    color: rgba(34, 32, 33, .9);
    background-color: rgba(255,255,240, .3);
    border: solid 1px rgba(34, 32, 33, .8);
    border-radius: 3px;
    padding: 0px 15px 0px 15px;
}

./*ARTIST*/-link{
    text-decoration: none;
    font-weight: 400;
    font-size: 25px;
    color: rgba(34, 32, 33, .9);
    /* text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  */
    border-radius: 3px;
}