.side-drawer{
    height: 80%;
    background: url('https://i.imgur.com/MciWgbJ.jpg');
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 13%;
    left: 100%;
    width: 250px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}

.side-drawer.open{
    transform: translateX(0);
}


.side-drawer ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}

.side-drawer li{
    margin: 10px 10px;
}

.side-drawer a{
    color: rgb(219, 163, 89);
    text-decoration: none;
}